
.carousel-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.carousel-images {
  width: 80%;
  background: black;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}
 .carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
 }
.carousel-button {
  align-self: center;
  background: red;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px #fa8d8e;
}

.carousel-images img:first-of-type {
  display: block;
}
